<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12 body-content'>
            <h1>Four in a row</h1>
            <div  style="margin-bottom: 20px;">
                <button (click)="startgame(columnsInput.value, rowsInput.value)">(Re)start game</button>
                <span>It's player's {{playerLabel}} turn</span>
                Columns: <input type="number" name="columns" id="columns" value="6" #columnsInput>
                Rows: <input type="number" name="rows" id="rows" value="7" #rowsInput>
            </div>
            <gameboard [aiEnabled]="aiEnabled" [rows]="rows" [columns]="columns">

            </gameboard>
        </div>
    </div>
</div>
